#title{
	width: 100%;
	text-align: center;
	font-family: "rainfall";
	font-size: 60em;
}

@font-face {
  font-family: "rainfall";
  src: url("rainfall.otf");
 }

 body {
 	background-color: rgb(255, 255, 255)
 }